/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
/* line 5, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
body {
  font-size: 16px;
  background-color: #eee;
  font-family: "Nunito";
}

/* line 29, ../sass/screen.scss */
header.header {
  display: flex;
  align-items: center;
  height: 75px;
  font-size: 14px;
}
/* line 35, ../sass/screen.scss */
header.header .container {
  display: flex;
  align-items: center;
}
/* line 38, ../sass/screen.scss */
header.header .container .region-header {
  display: flex;
  flex: 1;
}
/* line 42, ../sass/screen.scss */
header.header .container .block-system-branding-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 46, ../sass/screen.scss */
header.header .container .block-system-branding-block .site-name {
  padding: 1rem;
  font-weight: 700;
  color: #eee;
}
/* line 50, ../sass/screen.scss */
header.header .container .block-system-branding-block .site-name a {
  text-decoration: none;
  color: #eee;
}
/* line 56, ../sass/screen.scss */
header.header .container .block-system-branding-block .site-logo img {
  display: block;
  width: auto;
  max-height: 50px;
}
/* line 64, ../sass/screen.scss */
header.header .container nav.navigation ul.menu {
  display: flex;
  align-items: center;
}
/* line 68, ../sass/screen.scss */
header.header .container nav.navigation ul.menu li a {
  padding: .5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 75, ../sass/screen.scss */
header.header .container nav.navigation ul.menu li a.is-active {
  text-decoration: underline;
}

/* line 85, ../sass/screen.scss */
section.navbar {
  background-color: #666;
  border-top: 1px solid #ccc;
}
/* line 89, ../sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu {
  margin: 0;
  display: flex;
}
/* line 92, ../sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu li {
  padding: 0;
}
/* line 94, ../sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu li a {
  display: block;
  padding: 1rem;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* line 108, ../sass/screen.scss */
nav.breadcrumb {
  padding: 1rem;
  font-size: 13px;
}

/* line 118, ../sass/screen.scss */
.search-block-form {
  display: flex;
}
/* line 120, ../sass/screen.scss */
.search-block-form input {
  padding: .6rem;
  margin-right: .5rem;
}

/* line 126, ../sass/screen.scss */
.container {
  width: 320px;
  margin: auto;
}
@media only screen and (min-width: 420px) {
  /* line 126, ../sass/screen.scss */
  .container {
    width: 380px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 126, ../sass/screen.scss */
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 126, ../sass/screen.scss */
  .container {
    width: 1100px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 126, ../sass/screen.scss */
  .container {
    width: 1220px;
  }
}

/* line 143, ../sass/screen.scss */
.layout-content.container {
  background-color: #fff;
  padding: 1rem;
}

/* line 149, ../sass/screen.scss */
.path-node .layout-content.container {
  background-color: white;
  padding: 1rem;
}

/* line 155, ../sass/screen.scss */
.messages {
  color: white;
  border: 0;
  background-image: none;
  box-shadow: none;
  padding: 1.5rem;
  border-radius: 0;
}
/* line 162, ../sass/screen.scss */
.messages.messages--status {
  background-color: #2e7d32;
}
/* line 165, ../sass/screen.scss */
.messages.messages--warning {
  background-color: #f9a825;
  color: black;
}
/* line 169, ../sass/screen.scss */
.messages.messages--error {
  background-color: #c62828;
}

/* line 174, ../sass/screen.scss */
.marker {
  background: #c82f28;
  border-radius: 5px;
  padding: 6px;
  color: white;
  font-size: 13px;
}

/* line 182, ../sass/screen.scss */
h1 {
  font-size: 2rem;
}
@media all and (min-width: 1025px) {
  /* line 182, ../sass/screen.scss */
  h1 {
    font-size: 3rem;
  }
}

/* line 189, ../sass/screen.scss */
h2 {
  font-size: 2.5rem;
}

/* line 193, ../sass/screen.scss */
h3 {
  font-size: 2rem;
}

/* line 197, ../sass/screen.scss */
h4 {
  font-size: 1.75rem;
}

/* line 201, ../sass/screen.scss */
h5 {
  font-size: 1.5rem;
}

/* line 205, ../sass/screen.scss */
h6 {
  font-size: 1rem;
}

/* line 209, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0;
  font-weight: 700;
}

/* line 214, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 218, ../sass/screen.scss */
small {
  font-size: small;
}

/* line 225, ../sass/screen.scss */
.item-list ul li {
  padding: .25rem 0;
  list-style: square;
}
/* line 228, ../sass/screen.scss */
.item-list ul li a {
  padding: .5rem 0;
}
/* line 235, ../sass/screen.scss */
.item-list ol li {
  padding: .25rem 0;
  list-style: decimal;
}
/* line 238, ../sass/screen.scss */
.item-list ol li a {
  padding: .5rem 0;
}

/* line 246, ../sass/screen.scss */
a {
  color: #212121;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}
/* line 250, ../sass/screen.scss */
a:hover {
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}

/* line 256, ../sass/screen.scss */
table {
  margin: 1rem 0;
  border: 1px solid #ccc;
  width: 100%;
}
/* line 260, ../sass/screen.scss */
table caption {
  margin: 1rem 0;
}
/* line 265, ../sass/screen.scss */
table thead tr th {
  padding: 1rem;
  background-color: #ccc;
  border: 1px solid #333;
}
/* line 275, ../sass/screen.scss */
table tbody tr td {
  padding: 1rem;
  border: 1px solid #ccc;
}

/* line 283, ../sass/screen.scss */
blockquote {
  font-size: 2rem;
}

/* line 291, ../sass/screen.scss */
nav.tabs {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}
/* line 298, ../sass/screen.scss */
nav.tabs ul li a {
  padding: 1rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
}
/* line 304, ../sass/screen.scss */
nav.tabs ul li a.is-active {
  background-color: #bfbfbf;
}
/* line 315, ../sass/screen.scss */
nav.tabs ul.secondary li a {
  padding: .5rem;
}

/**
* FORMS
**/
/* line 328, ../sass/screen.scss */
form .form-item.form-type-textfield {
  display: flex;
  flex-direction: column;
}
/* line 331, ../sass/screen.scss */
form .form-item.form-type-textfield label {
  margin: .5rem 0;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
/* line 337, ../sass/screen.scss */
form .form-item.form-type-textfield .description {
  margin: .5rem 0;
  color: #666;
}
/* line 343, ../sass/screen.scss */
form input {
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 1rem;
}

/* line 369, ../sass/screen.scss */
.button {
  background-color: #fff;
  border: 1px solid #333;
  padding: .75rem;
  border-radius: 5px;
}

/* line 376, ../sass/screen.scss */
.form-submit, .node__links ul.links li a {
  background-color: #333;
  border: 0;
  border-radius: 5px;
  padding: .75rem;
  color: white;
}

/* line 384, ../sass/screen.scss */
p {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  padding-bottom: 2rem;
}

/* line 392, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 396, ../sass/screen.scss */
strong, b {
  font-weight: 700;
}

/* line 411, ../sass/screen.scss */
.page-node-type-article h1 {
  text-align: center;
}

/* line 416, ../sass/screen.scss */
.node__submitted, article.comment .comment__submitted {
  margin: 1rem 0;
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

/* line 424, ../sass/screen.scss */
.node__links ul.inline li {
  display: flex;
  padding: 1rem 0;
}

/* line 441, ../sass/screen.scss */
.field.field--name-field-tags {
  display: block;
}
/* line 442, ../sass/screen.scss */
.field.field--name-field-tags .field__label {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: underline;
  text-decoration-color: #ccc;
}
/* line 450, ../sass/screen.scss */
.field.field--name-field-tags .field__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 455, ../sass/screen.scss */
.field.field--name-field-tags .field__items .field__item a {
  background-color: #333;
  padding: .25rem;
  border-radius: 5px;
  margin-right: .25rem;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
}

/* line 468, ../sass/screen.scss */
.field--name-field-image {
  margin-bottom: 2rem;
}
/* line 470, ../sass/screen.scss */
.field--name-field-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 479, ../sass/screen.scss */
.views-list-teaser .view-content ul {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
@media only screen and (min-width: 768px) {
  /* line 479, ../sass/screen.scss */
  .views-list-teaser .view-content ul {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 479, ../sass/screen.scss */
  .views-list-teaser .view-content ul {
    grid-template-columns: 33% 33% 33%;
  }
}
/* line 491, ../sass/screen.scss */
.views-list-teaser .view-content ul li {
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
/* line 498, ../sass/screen.scss */
.views-list-teaser .view-content ul li:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
/* line 501, ../sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-field-image {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}
/* line 504, ../sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-field-image img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 510, ../sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title {
  padding: 1rem;
}
/* line 512, ../sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title h3 {
  margin: 0;
  display: flex;
}
/* line 515, ../sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title h3 a {
  font-size: 16px;
  padding: 0;
  color: #333;
}
/* line 526, ../sass/screen.scss */
.views-list-teaser .view-content div.views-row .field--name-body {
  margin: 0;
}

/* line 533, ../sass/screen.scss */
footer.footer {
  background-color: #fafafa;
  padding: 1rem 0;
  min-height: 10rem;
  display: flex;
  align-items: center;
  color: #eee;
}
/* line 540, ../sass/screen.scss */
footer.footer a {
  color: #fff;
}

/* line 547, ../sass/screen.scss */
.path-node .field--name-field-image {
  padding: 1rem;
}

/**
* SEARCH RESULT
**/
/* line 556, ../sass/screen.scss */
.search-result__title {
  font-size: 1.25rem;
  margin: .5rem 0;
}

/* line 564, ../sass/screen.scss */
.path-frontpage .hero {
  border-top: 1px solid #ccc;
  height: 50vh;
}
/* line 567, ../sass/screen.scss */
.path-frontpage .hero .container {
  display: flex;
  flex-direction: column;
}
/* line 570, ../sass/screen.scss */
.path-frontpage .hero .container h1 {
  font-size: 5rem;
  color: white;
}
/* line 574, ../sass/screen.scss */
.path-frontpage .hero .container p {
  font-size: 2rem;
  color: white;
}
/* line 578, ../sass/screen.scss */
.path-frontpage .hero .container a {
  background-color: white;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5rem;
}
